# Income Age 2021

In [1]:
# Dependencies
import requests
import pandas as pd
from census import Census
import json

In [2]:
# Import U.S. Census API Key
from config import census_key

# Create an instance of the Census library
c = Census(
    census_key,
    year = 2021
)

In [9]:
# Run Census Search to retrieve data on all states (2021 ACS5 Census)
census_data = c.acs5.get(
    (
        "NAME",
        "B19001_001E",
        "B19037_002E",
        "B19037_019E",
        "B19037_036E",
        "B19037_053E"
    ),
    {'for': 'state:*'}
)

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column renaming
census_pd = census_pd.rename(
    columns = {
        "B19001_001E": "Household Income Total",
        "B19037_002E": "Household Income Under 25 years",
        "B19037_019E": "Household Income 25 to 44 years",
        "B19037_036E": "Household Income 45 to 64 years",
        "B19037_053E": "Household Income 65 years and over",
        "NAME": "Name"
    }
)


# Configure the final DataFrame
census_pd = census_pd[
    [
        "Name",
        "Household Income Total",
        "Household Income Under 25 years",
        "Household Income 25 to 44 years",
        "Household Income 45 to 64 years",
        "Household Income 65 years and over"
    ]
]

# Display DataFrame length and sample data
print(f"Number of rows in the DataFrame: {len(census_pd)}")
census_pd

Number of rows in the DataFrame: 52

,Name,Household Income Total,Household Income Under 25 years,Household Income 25 to 44 years,Household Income 45 to 64 years,Household Income 65 years and over
0,Alabama,1902983.0,68626.0,577493.0,724405.0,532459.0
1,Alaska,260561.0,11875.0,94699.0,98125.0,55862.0
2,Arizona,2683557.0,118725.0,857250.0,943391.0,764191.0
3,Arkansas,1158460.0,54222.0,368621.0,421087.0,314530.0
4,California,13217586.0,355422.0,4528623.0,5115397.0,3218144.0
5,Colorado,2227932.0,98954.0,813881.0,803799.0,511298.0
6,Connecticut,1397324.0,35193.0,410132.0,570203.0,381796.0
7,Delaware,381097.0,9953.0,111852.0,144922.0,114370.0
8,District of Columbia,310104.0,12134.0,148892.0,90493.0,58585.0
9,Florida,8157420.0,214223.0,2323738.0,3034544.0,2584915.0
10,Georgia,3885371.0,141973.0,1329167.0,1511637.0,902594.0
11,Hawaii,478413.0,13631.0,140733.0,174244.0,149805.0
12,Idaho,657101.0,30704.0,215920.0,234897.0,175580.0
13,Illinois,4930255.0,165929.0,1635811.0,1860229.0,1268286.0
14,Indiana,2622601.0,123957.0,853058.0,978637.0,666949.0
15,Iowa,1275893.0,71792.0,408137.0,454443.0,341521.0
16,Kansas,1139738.0,65754.0,372039.0,406628.0,295317.0
17,Kentucky,1748475.0,76626.0,542146.0,661884.0,467819.0
18,Louisiana,1748688.0,61959.0,577983.0,649283.0,459463.0
19,Maine,571064.0,15382.0,152955.0,225843.0,176884.0
20,Maryland,2294270.0,55171.0,735172.0,926019.0,577908.0
21,Massachusetts,2714448.0,74324.0,855760.0,1067605.0,716759.0
22,Michigan,3976729.0,153917.0,1187402.0,1530882.0,1104528.0
23,Minnesota,2229100.0,90497.0,744575.0,827822.0,566206.0
24,Mississippi,1108670.0,39614.0,345308.0,420578.0,303170.0
25,Missouri,2433819.0,108303.0,779856.0,894748.0,650912.0
26,Montana,436481.0,21505.0,133033.0,153951.0,127992.0
27,Nebraska,766887.0,44011.0,260235.0,268709.0,193932.0
28,Nevada,1141952.0,38311.0,396849.0,421045.0,285747.0
29,New Hampshire,540498.0,14813.0,150886.0,224614.0,150185.0
30,New Jersey,3397156.0,56807.0,1031681.0,1404615.0,904053.0
31,New Mexico,797596.0,32757.0,241470.0,290886.0,232483.0
32,New York,7530150.0,189847.0,2340367.0,2954070.0,2045866.0
33,North Carolina,4034684.0,156654.0,1291242.0,1528196.0,1058592.0
34,North Dakota,316542.0,24446.0,113519.0,102937.0,75640.0
35,Ohio,4754161.0,189166.0,1482928.0,1797757.0,1284310.0
36,Oklahoma,1503868.0,77127.0,499981.0,530695.0,396065.0
37,Oregon,1658091.0,65644.0,547651.0,583628.0,461168.0
38,Pennsylvania,5147783.0,149704.0,1535130.0,1979309.0,1483640.0
39,Rhode Island,426769.0,10460.0,129746.0,170261.0,116302.0
40,South Carolina,1976447.0,67963.0,604430.0,740266.0,563788.0
41,South Dakota,345779.0,20214.0,111483.0,121267.0,92815.0
42,Tennessee,2664791.0,104850.0,855927.0,998701.0,705313.0
43,Texas,10239341.0,454244.0,3842234.0,3769593.0,2173270.0
44,Utah,1033651.0,62894.0,413985.0,340698.0,216074.0
45,Vermont,262514.0,10150.0,70814.0,102096.0,79454.0
46,Virginia,3248528.0,109595.0,1070864.0,1248045.0,820024.0
47,Washington,2931841.0,118036.0,1039215.0,1056409.0,718181.0
48,West Virginia,711352.0,26234.0,187827.0,268925.0,228366.0
49,Wisconsin,2401818.0,110838.0,748189.0,900090.0,642701.0
50,Wyoming,230653.0,12693.0,75029.0,81037.0,61894.0
51,Puerto Rico,1196790.0,20958.0,286755.0,455797.0,433280.0