# Income Age 2016

In [1]:
# Dependencies
import requests
import pandas as pd
from census import Census
import json

In [2]:
# Import U.S. Census API Key
from config import census_key

# Create an instance of the Census library
c = Census(
    census_key,
    year = 2016
)

In [3]:
# Run Census Search to retrieve data on all states (2016 ACS5 Census)
census_data = c.acs5.get(
    (
        "NAME",
        "B19001_001E",
        "B19037_002E",
        "B19037_019E",
        "B19037_036E",
        "B19037_053E"
    ),
    {'for': 'state:*'}
)

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column renaming
census_pd = census_pd.rename(
    columns = {
        "B19001_001E": "Household Income Total",
        "B19037_002E": "Household Income Under 25 years",
        "B19037_019E": "Household Income 25 to 44 years",
        "B19037_036E": "Household Income 45 to 64 years",
        "B19037_053E": "Household Income 65 years and over",
        "NAME": "Name"
    }
)


# Configure the final DataFrame
census_pd = census_pd[
    [
        "Name",
        "Household Income Total",
        "Household Income Under 25 years",
        "Household Income 25 to 44 years",
        "Household Income 45 to 64 years",
        "Household Income 65 years and over"
    ]
]

# Display DataFrame length and sample data
print(f"Number of rows in the DataFrame: {len(census_pd)}")
census_pd

Number of rows in the DataFrame: 52

,Name,Household Income Total,Household Income Under 25 years,Household Income 25 to 44 years,Household Income 45 to 64 years,Household Income 65 years and over
0,Mississippi,1098803.0,41384.0,353151.0,431251.0,273017.0
1,Missouri,2372362.0,111467.0,759116.0,915360.0,586419.0
2,Montana,412653.0,22065.0,121472.0,161906.0,107210.0
3,Nebraska,741581.0,45946.0,250705.0,272179.0,172751.0
4,Nevada,1030701.0,37377.0,362490.0,394402.0,236432.0
5,New Hampshire,521373.0,16204.0,147777.0,230658.0,126734.0
6,New Jersey,3195014.0,53864.0,993412.0,1361667.0,786071.0
7,New Mexico,762551.0,33707.0,232952.0,296225.0,199667.0
8,New York,7266187.0,198390.0,2335761.0,2963654.0,1768382.0
9,North Carolina,3815392.0,157936.0,1267443.0,1478849.0,911164.0
10,North Dakota,305163.0,28829.0,102337.0,106707.0,67290.0
11,Ohio,4601449.0,192584.0,1434414.0,1829760.0,1144691.0
12,Oklahoma,1461500.0,81743.0,485659.0,540177.0,353921.0
13,Oregon,1545745.0,65626.0,500852.0,584806.0,394461.0
14,Pennsylvania,4961929.0,149696.0,1475040.0,2010228.0,1326965.0
15,Rhode Island,410240.0,13451.0,124335.0,169839.0,102615.0
16,South Carolina,1839041.0,73587.0,572741.0,719235.0,473478.0
17,South Dakota,333536.0,20117.0,107225.0,125370.0,80824.0
18,Tennessee,2522204.0,107731.0,816552.0,981190.0,616731.0
19,Texas,9289554.0,444616.0,3491790.0,3509200.0,1843948.0
20,Vermont,257107.0,10375.0,70348.0,109133.0,67251.0
21,Utah,918367.0,56468.0,370710.0,311624.0,179565.0
22,Virginia,3090178.0,109561.0,1042755.0,1235701.0,702161.0
23,Washington,2696606.0,113707.0,924048.0,1046804.0,612047.0
24,West Virginia,739397.0,28686.0,207654.0,292669.0,210388.0
25,Wisconsin,2310246.0,111487.0,727962.0,914461.0,556336.0
26,Wyoming,226985.0,13897.0,75003.0,87138.0,50947.0
27,Puerto Rico,1237180.0,28743.0,344327.0,480550.0,383560.0
28,Alabama,1851061.0,76144.0,578379.0,723760.0,472778.0
29,Alaska,250235.0,12918.0,91188.0,105502.0,40627.0
30,Arizona,2448919.0,112557.0,795388.0,895723.0,645251.0
31,Arkansas,1141480.0,58608.0,362858.0,427596.0,292418.0
32,California,12807387.0,410099.0,4473830.0,5081461.0,2841997.0
33,Colorado,2051616.0,100618.0,740932.0,789705.0,420361.0
34,Delaware,348051.0,9890.0,104995.0,140246.0,92920.0
35,District of Columbia,276546.0,11842.0,124955.0,88610.0,51139.0
36,Connecticut,1354713.0,31866.0,403331.0,581514.0,338002.0
37,Florida,7393262.0,221005.0,2112677.0,2821605.0,2237975.0
38,Georgia,3611706.0,140910.0,1281863.0,1430844.0,758089.0
39,Idaho,596107.0,30953.0,199168.0,220767.0,145219.0
40,Hawaii,452030.0,13707.0,136852.0,178221.0,123250.0
41,Illinois,4802124.0,170896.0,1626070.0,1889663.0,1115495.0
42,Indiana,2513828.0,120762.0,819182.0,982697.0,591187.0
43,Iowa,1242641.0,73474.0,394407.0,464160.0,310600.0
44,Kansas,1115858.0,65783.0,367708.0,421042.0,261325.0
45,Kentucky,1718217.0,80833.0,542839.0,679727.0,414818.0
46,Louisiana,1731398.0,75867.0,579446.0,675760.0,400325.0
47,Maine,551109.0,16321.0,150330.0,233608.0,150850.0
48,Maryland,2177492.0,55218.0,708968.0,915362.0,497944.0
49,Massachusetts,2558889.0,69152.0,808486.0,1055507.0,625744.0
50,Michigan,3860394.0,158692.0,1154289.0,1571236.0,976177.0
51,Minnesota,2135310.0,92466.0,713350.0,839631.0,489863.0